@media screen and (max-width: 1440px){

    /* Welcome Page */
    .home{
        position: absolute;
        top: 40%;
        left: 35%;
        color: white;
        font-family: 'Cinzel', serif;
    }
    
    .title{
        margin-top: 50px;
    }
    
    .view{
        margin-top: 100px;
    }
    
    .cv{
        position: absolute;
        top: 40%;
        left: 50%;
        color: white;
        font-family: 'Cinzel', serif;
        margin-top: 100px;
    }

    /* Navbar */
    nav {
        padding: 10px;
    }
    
    .navbar-dark.fixed {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        width: 110%;
        border-bottom: 5px solid #ffffff;
    }
    
    .home-button{
        margin-left: 100px;
        font-family: 'Bebas Neue', cursive;
        font-size: 22px;
        color: orangered;
    }
    
    .navigation{
        margin-left: 20px;
        font-family: 'Bebas Neue', cursive;
        font-size: 22px;
        color: orangered;
    }

    /* About */
    .header{
        text-align: center;
        margin-top: 50px;
        font-family: 'Cinzel', serif;
    }

    .card{
        margin-top: 40px;
        left: 12%;
        background-color: silver;
    }

    .card2{
        background-color: silver;
        margin-top: 40px;
        margin-bottom: 40px;    
    }

    .diamond {
        transform: rotate(45deg);
        transform-origin: 0 100%;
    }

    .fab{
        margin-left: 10px;
    }

    .fa-js{
        color: yellow;
    }

    .fa-html5{
        color: orangered;
    }

    .fa-css3-alt{
        color: blue;
    }

    .fa-node-js{
        color: green;
    }

    .fa-react{
        color: lightskyblue;
    }

    .fa-java{
        color: orange;
    }

    .fa-bootstrap{
        color: purple;
    }

    .fa-github{
        color: black;
    }

    .picture{
        margin-top: 25px;
        margin-left: 55px;
        border-radius: 50%;
    }
    
    .picture-text{
        margin-top: 15px;
        margin-left: 80px;
        font-family: 'Girassol', cursive;  
    }
    
    .picture2{
        margin-top: 25px;
        margin-left: 50px;
        border-radius: 50%;
    }
    
    .picture-text2{
        margin-top: 15px;
        margin-left: 60px;  
        font-family: 'Girassol', cursive;
    }
    
    .picture3{
        margin-top: 25px;
        margin-left: 55px;
        border-radius: 50%;
    }
    
    .picture-text3{
        margin-top: 15px;
        margin-left: 90px;
        font-family: 'Girassol', cursive;  
    }
    
    .picture5{
        margin-top: 25px;
        margin-left: 50px;
        border-radius: 50%;
    }
    
    .picture-text5{
        margin-top: 15px;
        margin-left: 65px;
        font-family: 'Girassol', cursive;  
    }
    
    .card{
        width: 75%;
        display: flex;
        align-items: center;
    }
    
    #bio-text{
        margin-top: -130px;
        font-family: 'Noticia Text', serif;
    }
    
    .skills{
        margin-top: 92px;
    }
    
    .skill-text{
        margin-left: 160px;
        font-family: 'Cinzel', serif;
    }
    
    .fab, .fa-plus-square{
        margin-top: 10px;
        margin-left: 20px;
    }

    /* Portfolio */
    .project-picture {
        margin-top: 20px;
        margin-left: 150px;
    }

    .project-text{
        margin-top: 60px;
        font-family: 'Noticia Text', serif;
    }

    .description{
        font-family: 'Noticia Text', serif;
    }

    .testing{
        text-align: center;
    }

    /* Contact */
    .phoneinfo{
        margin-top: 100px;
    }
    
    .emailinfo{
        margin-top: 110px;
    }

    .contacttitle{
        margin-top: 30px;
    }

    .name{
        margin-top: 120px;
    }
    
    .email{
        margin-top: 170px;
    }

    .textarea{
        margin-top: 220px;
    }

    .straight-top{
        margin-top: 420px;
    }

    #linkedin{
        margin-top: 480px;
    }
    
    #github{
        margin-top: 480px;
    }
    
    #insta{
        margin-top: 480px;
    }
    
    #twitter{
        margin-top: 480px;
    }

}

@media screen and (max-width: 1024px){

    /* Welcome Page */
    .home{
        position: absolute;
        top: 40%;
        left: 30%;
        color: white;
        font-family: 'Cinzel', serif;
    }
    
    .title{
        margin-top: 50px;
    }
    
    .view{
        margin-top: 100px;
    }
    
    .cv{
        position: absolute;
        top: 40%;
        left: 50%;
        color: white;
        font-family: 'Cinzel', serif;
        margin-top: 100px;
    }

    /* Navbar */
    nav {
        padding: 10px;
    }
    
    .navbar-dark.fixed {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        width: 110%;
        border-bottom: 5px solid #ffffff;
    }
    
    .home-button{
        margin-left: 100px;
        font-family: 'Bebas Neue', cursive;
        font-size: 22px;
        color: orangered;
    }
    
    .navigation{
        margin-left: 20px;
        font-family: 'Bebas Neue', cursive;
        font-size: 22px;
        color: orangered;
    }

    /* About */
    .header{
        text-align: center;
        margin-top: 50px;
        font-family: 'Cinzel', serif;
    }

    .card{
        margin-top: 40px;
        left: 12%;
        background-color: silver;
    }

    .card2{
        background-color: silver;
        margin-top: 40px;
        margin-bottom: 40px;    
    }

    .diamond {
        transform: rotate(45deg);
        transform-origin: 0 100%;
    }

    .fab{
        margin-left: 10px;
    }

    .picture{
        margin-top: 25px;
        margin-left: 100px;
        border-radius: 50%;
    }
    
    .picture-text{
        margin-top: 15px;
        margin-left: 130px;
        font-family: 'Girassol', cursive;  
    }
    
    .picture2{
        margin-top: 25px;
        margin-left: 55px;
        border-radius: 50%;
    }
    
    .picture-text2{
        margin-top: 15px;
        margin-left: 60px;  
        font-family: 'Girassol', cursive;
    }
    
    .picture3{
        margin-top: 25px;
        margin-left: 55px;
        border-radius: 50%;
    }
    
    .picture-text3{
        margin-top: 15px;
        margin-left: 90px;
        font-family: 'Girassol', cursive;  
    }

    .picture4{
        margin-top: 25px;
        margin-left: 200px;
    }
    
    .picture-text4{
        margin-top: 15px;
        margin-left: 225px;
    }
    
    .picture5{
        margin-top: 25px;
        margin-left: 50px;
        border-radius: 50%;
    }
    
    .picture-text5{
        margin-top: 15px;
        margin-left: 65px;
        font-family: 'Girassol', cursive;  
    }

    .dodecagon{
        margin-top: 200px;
        margin-left: 125px;
        width: 250px;
        transform: translate(-50%, -50%) rotate(120deg);
        overflow: hidden;
    }

    .skills{
        margin-top: -570px;
        margin-left: 300px;
    }

    #bio-text{
        width: 300px;
    }
    
    .card{
        width: 75%;
        display: flex;
        align-items: center;
    }
    
    #bio-text{
        margin-top: -130px;
        font-family: 'Noticia Text', serif;
    }
    
    .skill-text{
        margin-top: 80px;
        margin-left: 160px;
        font-family: 'Cinzel', serif;
    }
    
    .fab, .fa-plus-square{
        margin-top: 10px;
        margin-left: 20px;
    }

    /* Portfolio */
    .project-picture {
        margin-top: 20px;
        margin-left: 50px;
    }
    
    .project-text{
        margin-top: 40px;
        font-family: 'Noticia Text', serif;
    }
    
    .description{
        font-family: 'Noticia Text', serif;
    }
    
    .testing{
        text-align: center;
    }

     /* Portfolio */
     .project-picture {
        margin-top: 20px;
        margin-left: 150px;
    }

    .project-text{
        margin-top: 60px;
        font-family: 'Noticia Text', serif;
    }

    .description{
        font-family: 'Noticia Text', serif;
    }

    .testing{
        text-align: center;
    }

    /* Contact */
    .phoneinfo{
        margin-top: 100px;
    }
    
    .emailinfo{
        margin-top: 110px;
    }

    .contacttitle{
        margin-top: 30px;
    }

    .name{
        margin-top: 120px;
        left: 32.5%;
    }
    
    .email{
        margin-top: 170px;
        left: 32.5%;
    }

    .textarea{
        margin-top: 220px;
    }

    .straight-top{
        margin-top: 400px;
    }

    #linkedin{
        margin-top: 460px;
        left: 39%;
    }
    
    #github{
        margin-top: 460px;
        left: 43.5%;
    }
    
    #insta{
        margin-top: 460px;
        left: 48%;
    }
    
    #twitter{
        margin-top: 460px;
        left: 52.5%;
    }
}

@media screen and (max-width: 768px){

    /* Welcome Page */
    .home{
        position: absolute;
        top: 40%;
        left: 20%;
        color: white;
        font-family: 'Cinzel', serif;
    }
    
    .title{
        margin-top: 50px;
    }
    
    .view{
        margin-top: 100px;
    }
    
    .cv{
        position: absolute;
        top: 40%;
        left: 50%;
        color: white;
        font-family: 'Cinzel', serif;
        margin-top: 100px;
    }

    /* Navbar */
    nav {
        padding: 10px;
    }
    
    .navbar-dark.fixed {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        width: 110%;
        border-bottom: 5px solid #ffffff;
    }
    
    .home-button{
        margin-left: 185px;
        font-family: 'Bebas Neue', cursive;
        font-size: 22px;
        color: orangered;
    }
    
    .navigation{
        margin-left: 20px;
        font-family: 'Bebas Neue', cursive;
        font-size: 22px;
        color: orangered;
    }

    /* About */
    .header{
        text-align: center;
        margin-top: 50px;
        font-family: 'Cinzel', serif;
    }

    .card{
        margin-top: 40px;
        left: 12%;
        background-color: silver;
    }

    .card2{
        background-color: silver;
        margin-top: 40px;
        margin-bottom: 40px;    
    }

    .diamond {
        transform: rotate(45deg);
        transform-origin: 0 100%;
    }

    .picture{
        margin-top: 25px;
        margin-left: 15px;
        border-radius: 50%;
    }
    
    .picture-text{
        margin-top: 15px;
        margin-left: 50px;
        font-family: 'Girassol', cursive;  
    }
    
    .picture2{
        margin-top: 25px;
        margin-left: 50px;
        border-radius: 50%;
    }
    
    .picture-text2{
        margin-top: 15px;
        margin-left: 60px;  
        font-family: 'Girassol', cursive;
    }
    
    .picture3{
        margin-top: 25px;
        margin-left: 50px;
        border-radius: 50%;
    }
    
    .picture-text3{
        margin-top: 15px;
        margin-left: 90px;
        font-family: 'Girassol', cursive;  
    }

    .picture4{
        margin-top: 25px;
        margin-left: 110px;
    }
    
    .picture-text4{
        margin-top: 15px;
        margin-left: 135px;
    }
    
    .picture5{
        margin-top: 25px;
        margin-left: 60px;
        border-radius: 50%;
    }
    
    .picture-text5{
        margin-top: 15px;
        margin-left: 75px;
        font-family: 'Girassol', cursive;  
    }

    .dodecagon{
        margin-top: 175px;
        margin-left: 125px;
        width: 250px;
        transform: translate(-50%, -50%) rotate(120deg);
        overflow: hidden;
    }

    #bio-text{
        margin-left: 300px;
        margin-top: -410px;
        width: 250px;
    }

    .skills{
        margin-top: 250px;
        margin-left: -500px;
    }

     /* Portfolio */
     .project-picture {
        margin-top: 20px;
        margin-left: -10px;
    }
    
    .project-text{
        margin-top: 10px;
        font-family: 'Noticia Text', serif;
    }
    
    .description{
        font-family: 'Noticia Text', serif;
    }
    
    .testing{
        text-align: center;
    }

    .viewcode, .viewwork{
        margin-bottom: 20px;
    }

    /* Contact */
    .phoneinfo{
        margin-top: 100px;
    }
    
    .emailinfo{
        margin-top: 110px;
    }

    .contacttitle{
        margin-top: 30px;
    }

    .name{
        margin-top: 120px;
        left: 32%;
    }
    
    .email{
        margin-top: 170px;
        left: 32%;
    }

    .textarea{
        margin-top: 220px;
    }

    .straight-top{
        margin-top: 400px;
    }

    #linkedin{
        margin-top: 460px;
        left: 36%;
    }
    
    #github{
        margin-top: 460px;
        left: 42%;
    }
    
    #insta{
        margin-top: 460px;
        left: 48%;
    }
    
    #twitter{
        margin-top: 460px;
        left: 54%;
    }

}

@media screen and (max-width: 425px){

    /* Welcome Page */
    .home{
        position: absolute;
        top: 40%;
        left: 12%;
        color: white;
        font-family: 'Cinzel', serif;
    }

    .size{
        font-size: x-large;
    }

    .title{
        margin-top: 30px;
    }

    .view{
        margin-top: 70px;
        font-size: medium;
    }

    .cv{
        position: absolute;
        color: white;
        font-family: 'Cinzel', serif;
        margin-top: 70px;
        font-size: medium;
    }

    /* Navbar */
    nav {
        padding: 10px;
    }

    .navbar-dark.fixed {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        width: 110%;
        border-bottom: 5px solid #ffffff;
    }

    .home-button{
        margin-left: 40px;
        font-family: 'Bebas Neue', cursive;
        font-size: 22px;
        color: orangered;
    }

    .navigation{
        margin-left: 10px;
        font-family: 'Bebas Neue', cursive;
        font-size: 22px;
        color: orangered;
    }

    /* About */
    .header{
        text-align: center;
        margin-top: 50px;
        font-family: 'Cinzel', serif;
    }

    .card{
        margin-top: 40px;
        left: 20%;
        background-color: silver;
    }

    .card2{
        background-color: silver;
        margin-top: 40px;
        margin-bottom: 40px;    
    }

    .diamond {
        transform: rotate(45deg);
        transform-origin: 0 100%;
    }

    .hide{
        visibility: hidden;
    }

    .dodecagon{
        margin-top: -500px;
        margin-left: 255px;
        width: 250px;
        transform: translate(-50%, -50%) rotate(120deg);
        overflow: hidden;
    }

    #bio-text{
        margin-left: 140px;
        margin-top: -140px;
        width: 250px;
    }

    .skills{
        margin-top: -150px;
        margin-left: -490px;
    } 

    .fab, .fa-plus-square{
        margin-top: 10px;
        margin-left: 5px;
    }

    .fa-js, .fa-node-js, .icon1, .fa-github{
        margin-left: 40px;
    }

    /* Portfolio */
    .project-picture {
        margin-top: 20px;
        margin-left: 0px;
    }
    
    .project-text{
        margin-top: 10px;
        font-family: 'Noticia Text', serif;
        text-align: center;
    }
    
    .description{
        font-family: 'Noticia Text', serif;
    }
    
    .testing{
        text-align: center;
    }

    .viewcode, .viewwork{
        margin-bottom: 20px;
    }

     /* Contact */
     .phoneinfo{
        margin-top: 100px;
        left: 30%;
    }
    
    .emailinfo{
        margin-top: 110px;
        left: 30%;
    }

    .contacttitle{
        margin-top: 30px;
        left: 30%;
    }

    .name{
        margin-top: 120px;
        left: 26.5%;
        width: 60%;
    }
    
    .email{
        margin-top: 170px;
        left: 26.5%;
        width: 60%;
    }

    .textarea{
        margin-top: 220px;
        left: 30%;
        width: 60%;
    }

    .straight-top{
        margin-top: 400px;
    }

    #linkedin{
        margin-top: 460px;
        left: 30%;
    }
    
    #github{
        margin-top: 460px;
        left: 40%;
    }
    
    #insta{
        margin-top: 460px;
        left: 50%;
    }
    
    #twitter{
        margin-top: 460px;
        left: 60%;
    }

}

@media screen and (max-width: 375px){

    /* Welcome Page */
    .home{
        position: absolute;
        top: 40%;
        left: 12%;
        color: white;
        font-family: 'Cinzel', serif;
    }

    .size{
        font-size: x-large;
    }
    
    .title{
        margin-top: 30px;
    }
    
    .view{
        margin-top: 100px;
        font-size: medium;
    }
    
    .cv{
        position: absolute;
        color: white;
        font-family: 'Cinzel', serif;
        margin-top: 100px;
        margin-left: 20px;
        font-size: medium;
    }

    /* Navbar */
    nav {
        padding: 10px;
    }
    
    .navbar-dark.fixed {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        width: 110%;
        border-bottom: 5px solid #ffffff;
    }
    
    .home-button{
        margin-left: 10px;
        font-family: 'Bebas Neue', cursive;
        font-size: 22px;
        color: orangered;
    }
    
    .navigation{
        margin-left: 10px;
        font-family: 'Bebas Neue', cursive;
        font-size: 22px;
        color: orangered;
    }

    /* About */
    .header{
        text-align: center;
        margin-top: 50px;
    font-family: 'Cinzel', serif;
    }

    .card{
        width: 90%;
        margin-top: 40px;
        left: 18%;
        background-color: silver;
    }

    .card2{
        background-color: silver;
        margin-top: 40px;
        margin-bottom: 40px; 
        left: 18%;   
    }

    .diamond {
        transform: rotate(45deg);
        transform-origin: 0 100%;
    }

    .hide{
        visibility: hidden;
    }

    .dodecagon{
        margin-top: -500px;
        margin-left: 255px;
        width: 250px;
        transform: translate(-50%, -50%) rotate(120deg);
        overflow: hidden;
    }

    #bio-text{
        margin-left: 140px;
        margin-top: -140px;
        width: 250px;
    }

    .skills{
        margin-top: -150px;
        margin-left: -490px;
    } 

    .fab, .fa-plus-square{
        margin-top: 10px;
        margin-left: 5px;
    }

    .fa-js, .fa-node-js, .icon1, .fa-github{
        margin-left: 40px;
    }

    /* Portfolio */
    .project-picture {
        margin-top: 20px;
        margin-left: 0px;
    }

    .project-text{
        margin-top: 10px;
        font-family: 'Noticia Text', serif;
        text-align: center;
    }

    .description{
        font-family: 'Noticia Text', serif;
    }

    .testing{
        text-align: center;
    }

    .viewcode, .viewwork{
        margin-bottom: 20px;
    }

    /* Contact */
    .phoneinfo{
        margin-top: 100px;
        left: 30%;
    }

    .emailinfo{
        margin-top: 110px;
        left: 30%;
    }

    .contacttitle{
        margin-top: 30px;
        left: 30%;
    }

    .name{
        margin-top: 120px;
        left: 26.5%;
        width: 60%;
    }

    .email{
        margin-top: 170px;
        left: 26.5%;
        width: 60%;
    }

    .textarea{
        margin-top: 220px;
        left: 30%;
        width: 60%;
    }

    .straight-top{
        margin-top: 400px;
    }

    #linkedin{
        margin-top: 460px;
        left: 27%;
    }

    #github{
        margin-top: 460px;
        left: 39%;
    }

    #insta{
        margin-top: 460px;
        left: 51%;
    }

    #twitter{
        margin-top: 460px;
        left: 63%;
    }

}

@media screen and (max-width: 320px){
    
    /* Welcome Page */
    .home{
        position: absolute;
        top: 40%;
        left: 12%;
        color: white;
        font-family: 'Cinzel', serif;
    }

    .size{
        font-size: larger;
    }
    
    .title{
        margin-top: 30px;
    }
    
    .view{
        margin-top: 60px;
        font-size: small;
    }
    
    .cv{
        position: absolute;
        color: white;
        font-family: 'Cinzel', serif;
        margin-top: 60px;
        font-size: small;
    }

    /* Navbar */
    nav {
        padding: 10px;
    }
    
    .navbar-dark.fixed {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        width: 110%;
        border-bottom: 5px solid #ffffff;
    }
    
    .home-button{
        margin-left: 0px;
        font-family: 'Bebas Neue', cursive;
        font-size: 20px;
        color: orangered;
    }
    
    .navigation{
        margin-left: 0px;
        font-family: 'Bebas Neue', cursive;
        font-size: 20px;
        color: orangered;
    }

    /* About */
    .header{
        text-align: center;
        margin-top: 50px;
        font-family: 'Cinzel', serif;
    }

    .card{
        width: 105%;
        margin-top: 40px;
        left: 12%;
        background-color: silver;
    }

    .card2{
        background-color: silver;
        margin-top: 40px;
        margin-bottom: 40px;    
    }

    .diamond {
        transform: rotate(45deg);
        transform-origin: 0 100%;
    }

    .hide{
        visibility: hidden;
    }

    .dodecagon{
        margin-top: -500px;
        margin-left: 255px;
        width: 250px;
        transform: translate(-50%, -50%) rotate(120deg);
        overflow: hidden;
    }

    #bio-text{
        margin-left: 140px;
        margin-top: -140px;
        width: 250px;
    }

    .skills{
        margin-top: -150px;
        margin-left: -490px;
    }    

    .fab, .fa-plus-square{
        margin-top: 10px;
        margin-left: 5px;
    }

    .fa-js, .fa-node-js, .icon1, .fa-github{
        margin-left: 40px;
    }

    /* Contact */
    .phoneinfo{
        margin-top: 100px;
        left: 26%;
    }

    .emailinfo{
        margin-top: 110px;
        left: 26%;
    }

    .contacttitle{
        margin-top: 30px;
        left: 26%;
    }

    .name{
        margin-top: 120px;
        left: 21%;
        width: 60%;
    }

    .email{
        margin-top: 170px;
        left: 21%;
        width: 60%;
    }

    .textarea{
        margin-top: 220px;
        left: 25%;
        width: 60%;
    }

    .straight-top{
        margin-top: 400px;
    }

    #linkedin{
        margin-top: 460px;
        left: 25%;
    }

    #github{
        margin-top: 460px;
        left: 39%;
    }

    #insta{
        margin-top: 460px;
        left: 53%;
    }

    #twitter{
        margin-top: 460px;
        left: 67%;
    }

}