/* Welcome Page */
.home{
    position: absolute;
    top: 40%;
    left: 35%;
    color: white;
    font-family: 'Cinzel', serif;
}

.title{
    margin-top: 50px;
}

.view{
    margin-top: 100px;
}

.cv{
    position: absolute;
    top: 40%;
    left: 50%;
    color: white;
    font-family: 'Cinzel', serif;
    margin-top: 100px;
}

/* Navbar */
nav {
    padding: 10px;
}

.navbar-dark.fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 110%;
    border-bottom: 5px solid #ffffff;
}

.home-button{
    margin-left: 100px;
    font-family: 'Bebas Neue', cursive;
    font-size: 22px;
    color: orangered;
}

.navigation{
    margin-left: 20px;
    font-family: 'Bebas Neue', cursive;
    font-size: 22px;
    color: orangered;
}

/* About */
.header{
    text-align: center;
    margin-top: 50px;
    font-family: 'Cinzel', serif;
}

.card{
    margin-top: 40px;
    left: 12%;
    background-color: silver;
}

.card2{
    background-color: silver;
    margin-top: 40px;
    margin-bottom: 40px;
}

.diamond {
    transform: rotate(45deg);
    transform-origin: 0 100%;
}

.fab{
    margin-left: 10px;
}

.fa-js{
    color: yellow;
}

.fa-html5{
    color: orangered;
}

.fa-css3-alt{
    color: blue;
}

.fa-node-js{
    color: green;
}

.fa-react{
    color: lightskyblue;
}

.fa-java{
    color: orange;
}

.fa-bootstrap{
    color: purple;
}

.fa-github{
    color: black;
}

.picture{
    margin-top: 25px;
    margin-left: 55px;
    border-radius: 50%;
}

.picture-text{
    margin-top: 15px;
    margin-left: 80px;
    font-family: 'Girassol', cursive;  
}

.picture2{
    margin-top: 25px;
    margin-left: 50px;
    border-radius: 50%;
}

.picture-text2{
    margin-top: 15px;
    margin-left: 60px;  
    font-family: 'Girassol', cursive;
}

.picture3{
    margin-top: 25px;
    margin-left: 55px;
    border-radius: 50%;
}

.picture-text3{
    margin-top: 15px;
    margin-left: 90px;
    font-family: 'Girassol', cursive;  
}

.picture5{
    margin-top: 25px;
    margin-left: 50px;
    border-radius: 50%;
}

.picture-text5{
    margin-top: 15px;
    margin-left: 65px;
    font-family: 'Girassol', cursive;  
}

.card{
    width: 75%;
    display: flex;
    align-items: center;
}

#bio-text{
    margin-top: -130px;
    font-family: 'Noticia Text', serif;
}

.skills{
    margin-top: 92px;
}

.skill-text{
    margin-left: 160px;
    font-family: 'Cinzel', serif;
}

.fab, .fa-plus-square{
    margin-top: 10px;
    margin-left: 20px;
}

/* Portfolio */
.project-picture {
    margin-top: 20px;
}

.project-text{
    margin-top: 50px;
    font-family: 'Noticia Text', serif;
}

.description{
    font-family: 'Noticia Text', serif;
}

.testing{
    text-align: center;
}

/* Contact */
.contacttitle{
    position: absolute;
    left: 42%;
    margin-top: 70px;
    color: black;
    font-family: 'Cinzel', serif;
}

.phoneinfo{
    position: absolute;
    left: 34%;;
    color: black;
    font-size: 20px;
    margin-top: 180px;
}

.emailinfo{
    position: absolute;
    left: 34%;;
    color: black;
    font-size: 20px;
    margin-top: 190px;
}

.contact{
    width: 100%;
    height: 100vh;
    background-color:silver;
    background: linear-gradient(to bottom, silver, maroon);
}

.name{
    position: absolute;
    left: 33%;
    margin-top: 220px;
    width: 500px;
}

.email{
    position: absolute;
    left: 33%;
    margin-top: 270px;
    width: 500px;
}

.submit{
    background-color: black;
    margin-top: 10px;
}

.textarea{
    position: absolute;
    left: 34%;
    margin-top: 320px;
    width: 470px;
}

.straight-top{
    position: absolute;
    cursor: pointer;
    color: black;
    left: 48%;
    margin-top: 500px;
}

.social{
    position: absolute;
    cursor: pointer;
    color: black;
    margin-top: 600px;
}

#linkedin{
    margin-top: 600px;
    left: 40%;
}

#github{
    margin-top: 600px;
    left: 44%;
}

#insta{
    margin-top: 600px;
    left: 48%;
}

#twitter{
    margin-top: 600px;
    left: 52%;
}